scripts/modelsim/*
!scripts/modelsim/*.do
!scripts/modelsim/vivado_simlib

scripts/vivado/*
!scripts/vivado/*.tcl

bd_base/*
!bd_base/*.xpr
!bd_base/prj_bd_base.srcs
!bd_base/prj_bd_base.gen

release/vivado/*
!release/vivado/*.xpr
!release/vivado/lan.runs/
release/vivado/lan.runs/.jobs/*
release/vivado/lan.runs/synth_1/*
release/vivado/lan.runs/impl_1/*
!release/vivado/lan.runs/impl_1/*.bit
!release/vivado/lan.runs/impl_1/*.rpt

release/vitis/*
!release/vitis/network
!release/vitis/network_system